<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    
    <!-- CORRECTED LINE: Changed name="CsWinSql" to name="CsWin" -->
    <add name="CsWin"
         connectionString="data source=ALLWYNLEGION;
         database=mayjune25db;
         integrated security=SSPI; 
         TrustServerCertificate=true"
         providerName="System.Data.SqlClient"/>
    
    <!-- The other connection strings are not affected -->
    <add name="CsWinOra"
         connectionString="..."
         providerName="System.Data.OracleClient"/>
    
    <add name="CsWinPgr"
         connectionString="..."
         providerName="System.Data.PostGreClient"/>
         
  </connectionStrings>
  
</configuration>